
.navbar-brand {
   font-weight:400;
}

.navbar-nav .nav-link {
    color: #fff;
} 

.jumbotron {
    background-image: url('https://via.placeholder.com/1200x600');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

#tabs {
    padding: 10px;
}
#about{
    padding-top: 25px;
}
/* #nav{
    background-color: #f7f7f7;
} */

body{
    background-color: #fff;
}

body.dark {
    background-color: #333;
    color: #fff;
    
}
body.dark-mode {
    background-color: #222;
    color: #fff;
}
/* Change navbar links to white */
.dark-mode .navbar-light .navbar-brand, 
.navbar-nav .nav-link{
    color: #fff; 
    
}
/* Change text color of experience section's secondary and muted text */
.dark-mode .experience .text-secondary,
.dark-mode .experience .text-muted {
    color: #fff !important; 
}

/* .navbar-nav.dark .nav-link.dark {
    color: #fff;
}
#home-nav.dark{
    color:#fff; 
} 
#experience.dark {
    color:#fff;
} */